<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.translateapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sddefault"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sddefault"
        android:supportsRtl="true"
        android:theme="@style/Theme.TranslateApp"
        android:configChanges="orientation|screenSize|screenLayout|keyboardHidden">
        <activity android:name=".Splash_Screen"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>